@model IndexViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Admins count: @Model.AdminsCount</p>
    <p>Users count: @Model.UsersCount</p>
    <p>Events count: @Model.EventsCount</p>
    <p>Tickets count: @Model.TicketsCount</p>
</div>
