@model EditUserViewModel

<h1>Create user</h1>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form asp-controller="Users" asp-action="Edit" method="post">
            <h2>Edit user</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="FirstName" class="form-control" aria-required="true" />
                <label asp-for="FirstName"></label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="LastName" class="form-control" aria-required="true" />
                <label asp-for="LastName"></label>
                <span asp-validation-for="LastName " class="text-danger"></span>
            </div>
            <div class="form-check">
                <input class="form-check-input" asp-for="@Model.IsAdmin" />
                <label asp-for="IsAdmin"></label>
            </div>
            <div class="form-check">
                <input class="form-check-input" asp-for="@Model.IsUser"/>
                <label asp-for="IsUser"></label>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Edit</button>
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}