@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section id="header" style="padding:150px 0 150px 0">
        <h1 class="display-4" id="h1" text>Welcome</h1>
    </section>
   
    
   
</div>
<style>
    #header{
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('https://th.bing.com/th/id/R.a92b15b9f00978811c1d56e8dbdc989e?rik=gDAAQ9rW573nMQ&pid=ImgRaw&r=0') no-repeat;
        background-size: cover;
    
    }
    #h1{
        padding: 100px 0 100px 0;
        color: white;
        font-weight:800;
    }
</style>