@{ 
    this.Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "HOME";
}
<p>This is an ASP.NET Core MVC sample application designed and implemented as
part of the ASP.NET Core MVC "Web Development 2" course at FMI Plovdiv
</p>