h1{
    color:rebeccapurple;
}
.banner {
    width: 100%;
    overflow: hidden; /* Предотвратява излизане на изображението извън контейнера */
}

.banner img {
    width: 100%;
    height: auto; /* Поддържа пропорциите на изображението */
    display: block; /* Премахва допълнителното пространство под изображението */
}